<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect http://leinweber-research.de to http://www.leinweber-research.de HTTP" patternSyntax="ECMAScript" stopProcessing="true">
					<match url=".*"></match>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^leinweber-research.de$"></add>
						<add input="{HTTPS}" pattern="off"></add>
					</conditions>
					<action type="Redirect" url="http://www.leinweber-research.de/{R:0}" redirectType="Permanent" appendQueryString="true"></action>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
